# POSTGRES_USER=myuser
# POSTGRES_PASSWORD=mypassword
# POSTGRES_SERVER=localhost
# POSTGRES_PORT=5432
# POSTGRES_DB=mydb
# Database (Local PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=12345
DB_NAME=insired_wing_publications

# Razorpay Test Keys
RAZORPAY_KEY_ID=rzp_test_yourkeyid
RAZORPAY_KEY_SECRET=yourkeysecret